<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mredrock.cyxbs.noclass">

    <application>

        <activity android:name="com.mredrock.cyxbs.noclass.page.ui.NoClassActivity"/>
        <activity
            android:name=".page.ui.GroupManagerActivity"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".page.ui.GroupDetailActivity"/>

    </application>

</manifest>