<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
    <!-- https://source.android.com/devices/tech/debug/tagged-pointers -->
    <application
        android:allowNativeHeapPointerTagging="false"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="r">
        <activity android:name="com.mredrock.cyxbs.schoolcar.SchoolCarActivity"
            android:launchMode="singleTop"/>
        <activity android:name="com.mredrock.cyxbs.schoolcar.SchoolDetailActivity"
            />

        <service android:name="com.amap.api.location.APSService" />

        <!--⚠️注：校车需要 amap_apikey，目前是写在 module_app 的注册文件里，
        单模块调试时不会加载，但不建议对校车进行单模块调试，防止密钥泄漏-->

    </application>

</manifest>