<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.mredrock.cyxbs.schoolcar">
    <!-- https://source.android.com/devices/tech/debug/tagged-pointers -->
    <application
        android:allowNativeHeapPointerTagging="false"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="r">
        <activity android:name="com.mredrock.cyxbs.discover.schoolcar.SchoolCarActivity"
            android:launchMode="singleTop"/>
        <activity android:name="com.mredrock.cyxbs.discover.schoolcar.SchoolDetailActivity"
            />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="${amap_apikey}"/>

        <service android:name="com.amap.api.location.APSService" />
    </application>

</manifest>