<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application android:theme="@style/AppTheme">
        <activity android:name=".page.feedback.center.ui.FeedbackCenterActivity" />
        <activity android:name=".page.feedback.center.ui.FeedbackDetailActivity" />
        <activity android:name=".page.feedback.history.detail.HistoryDetailActivity" />
        <activity android:name=".page.feedback.edit.ui.FeedbackEditActivity" />
        <activity android:name=".page.feedback.history.list.HistoryListActivity" />
        <activity android:name=".page.about.AgreementActivity" />
        <activity
            android:name=".page.mine.ui.activity.IdentityActivity"
            android:exported="true" />
        <activity
            android:name=".page.mine.ui.activity.HomepageActivity"
            android:configChanges="uiMode"
            android:exported="true" />
        <activity android:name=".page.setting.SettingActivity" />
        <activity android:name=".page.security.activity.FindPasswordActivity" />
        <activity android:name=".page.security.activity.ForgetPasswordActivity" />
        <activity android:name=".page.security.activity.BindEmailActivity" />
        <activity android:name=".page.security.activity.SetPasswordProtectActivity" />
        <activity android:name=".page.security.activity.ChangePasswordActivity" />
        <activity android:name=".page.security.activity.FindPasswordByIdsActivity" />
        <activity android:name=".page.mine.ui.activity.FanActivity" />
        <activity
            android:name=".page.security.activity.SecurityActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".page.edit.EditInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".page.sign.DailySignActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".page.about.AboutActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>