[submodule "lib_common"]
	path = lib_common
	url = git@github.com:CyxbsMobile-Android-Submodule/lib_common.git
[submodule "module_app"]
	path = module_app
	url = git@github.com:CyxbsMobile-Android-Submodule/module_app.git
[submodule "module_main"]
	path = module_main
	url = git@github.com:CyxbsMobile-Android-Submodule/module_main.git
[submodule "module_schoolcar"]
	path = module_schoolcar
	url = git@github.com:CyxbsMobile-Android-Submodule/module_schoolcar.git
[submodule "module_news"]
	path = module_news
	url = git@github.com:CyxbsMobile-Android-Submodule/module_news.git
[submodule "module_map"]
	path = module_map
	url = git@github.com:CyxbsMobile-Android-Submodule/module_map.git
[submodule "module_grades"]
	path = module_grades
	url = git@github.com:CyxbsMobile-Android-Submodule/module_grades.git
[submodule "module_emptyroom"]
	path = module_emptyroom
	url = git@github.com:CyxbsMobile-Android-Submodule/module_emptyroom.git
[submodule "module_noclass"]
	path = module_noclass
	url = git@github.com:CyxbsMobile-Android-Submodule/module_noclass.git
[submodule "module_qa"]
	path = module_qa
	url = git@github.com:CyxbsMobile-Android-Submodule/module_qa.git
[submodule "module_mine"]
	path = module_mine
	url = git@github.com:CyxbsMobile-Android-Submodule/module_mine.git
[submodule "module_discover"]
	path = module_discover
	url = git@github.com:CyxbsMobile-Android-Submodule/module_discover.git
[submodule "module_course"]
	path = module_course
	url = git@github.com:CyxbsMobile-Android-Submodule/module_course.git
[submodule "module_electricity"]
	path = module_electricity
	url = git@github.com:CyxbsMobile-Android-Submodule/module_electricity.git
[submodule "module_calendar"]
	path = module_calendar
	url = git@github.com:CyxbsMobile-Android-Submodule/module_calendar.git
[submodule "module_othercourse"]
	path = module_othercourse
	url = git@github.com:CyxbsMobile-Android-Submodule/module_othercourse.git
[submodule "module_volunteer"]
	path = module_volunteer
	url = git@github.com:CyxbsMobile-Android-Submodule/module_volunteer.git
[submodule "module_widget"]
	path = module_widget
	url = git@github.com:CyxbsMobile-Android-Submodule/module_widget.git
[submodule "module_redrock_home"]
	path = module_redrock_home
	url = git@github.com:CyxbsMobile-Android-Submodule/module_redrock_home.git
[submodule "lib_account"]
	path = lib_account
	url = git@github.com:CyxbsMobile-Android-Submodule/lib_account.git
[submodule "lib_update"]
	path = lib_update
	url = git@github.com:CyxbsMobile-Android-Submodule/lib_update.git
