*.iml
.gradle
/local.properties
.DS_Store

# 忽略 build，但不忽略 src 下的 build
build
!**/src/**/build
release
!**/src/**/release

/captures
.externalNativeBuild
key-cyxbs
local_helper
secret.gradle
./hooks/cache
/.idea/*
*.log
**/lint-baseline.xml
**/modules
maven
.kotlin
doce.cache

xcuserdata
!src/**/build/
local.properties
.idea
captures
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/

# 暂时不忽略 xcode.xml，解决无法选择指定 iosApp 打包的问题
# https://youtrack.jetbrains.com/issue/KMT-1298/Support-multiple-iosApp-target-in-the-same-project
!/.idea/xcode.xml

*.local.json
cyxbs-applications/pro/iosApp/Podfile.lock
