<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="com.mredrock.cyxbs.lib.base.BaseApp"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:label="lib_course"
        android:theme="@style/ConfigAppTheme">
        <activity android:name="lib.course.ui.DebugActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>