<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!--下面这个不能动，这个与 bugly 和拍照有关-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider> <!-- bugly -->
<!--        <activity-->
<!--            android:name="com.tencent.bugly.beta.ui.BetaActivity"-->
<!--            android:configChanges="keyboardHidden|orientation|screenSize|locale"-->
<!--            android:theme="@android:style/Theme.Translucent" />-->

        <activity
            android:name=".component.PhotoViewerActivity"
            android:launchMode="singleInstance" />

    </application>

</manifest>