<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".page.center.ui.activity.StoreCenterActivity"
            android:theme="@style/StoreAppTheme_NoSplitMotionEvent"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".page.record.ui.activity.ExchangeDetailActivity"
            android:theme="@style/StoreAppTheme_NoSplitMotionEvent"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".page.record.ui.activity.StampDetailActivity"
            android:theme="@style/StoreAppTheme_NoSplitMotionEvent"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".page.exchange.ui.activity.ProductExchangeActivity"
            android:theme="@style/StoreAppTheme_NoSplitMotionEvent"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".page.qa.ui.activity.QaActivity"
            android:theme="@style/StoreAppTheme_NoSplitMotionEvent"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.PhotoActivity"/>
    </application>

</manifest>