<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".ui.activity.NotificationActivity" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.activity.WebActivity" />
    </application>

</manifest>