<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mredrock.cyxbs.widget">

    <application android:theme="@style/AppTheme">
        <activity
            android:name=".widget.page.normal.NormalSelectActivity"
            android:theme="@style/widget_Theme"/>
        <activity android:name=".widget.page.ConfigActivity" />
        <activity android:name=".widget.page.normal.NormalConfigActivity" />
        <activity
            android:name=".widget.page.oversized.OversizedAppWidgetConfigureActivity"
            android:theme="@style/widget_Theme"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".widget.normal.NormalWidget"
            android:label="课程显示(大)"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_normal" />
        </receiver>

        <service
            android:name=".service.GridWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <receiver
            android:name=".widget.oversize.OversizedAppWidget"
            android:label="超大小部件"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_oversized_app_widget_info" />
        </receiver>

    </application>

</manifest>