<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".ui.activity.AffairActivity"
            android:exported="false" />
        <activity android:name=".ui.activity.DeleteRemindActivity" />
        <activity android:name=".ui.activity.NoClassAffairActivity" />
    </application>

</manifest>