<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mredrock.cyxbs.mine">

    <application
        android:name="com.mredrock.cyxbs.common.DebugApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".page.feedback.history.detail.HistoryDetailActivity"
            android:exported="true" />
        <activity
            android:name=".page.feedback.history.list.HistoryListActivity"
            android:exported="true" />
        <activity android:name="debug.TestActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".page.edit.EditInfoActivity" />
        <activity android:name=".page.sign.DailySignActivity" />
        <activity android:name=".page.about.AboutActivity" />
    </application>

</manifest>