<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mredrock.cyxbs.course">
    <application
        android:name="com.mredrock.cyxbs.lib.base.BaseApp"
        android:allowBackup="true"
        android:label="课表极速版 :)"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="course.ui.DebugActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".page.find.ui.find.activity.FindLessonActivity"
            android:windowSoftInputMode="adjustPan"/><!--  添加这个是为解决软键盘问题https://www.jb51.net/article/137229.htm  -->

        <activity android:name=".page.find.ui.find.activity.ShowResultActivity"/>
    </application>
</manifest>