<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.mredrock.cyxbs.discover.othercourse">

    <application tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".pages.stusearch.OtherCourseActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".pages.stulist.StuListActivity"/>
    </application>

</manifest>