<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="crash.ui.DebugThirdActivity"
            android:exported="false" />
        <activity
            android:name="crash.ui.DebugSecondActivity"
            android:exported="false" />
        <activity
            android:name="crash.ui.DebugFirstActivity"
            android:exported="true" />
    </application>
</manifest>