<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="com.mredrock.cyxbs.lib.base.BaseApp"
        android:allowBackup="true"
        android:label="${single_module_app_name}"
        android:supportsRtl="true"
        android:theme="@style/ConfigAppTheme"
        android:networkSecurityConfig="@xml/config_network_security"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:extractNativeLibs="true" >

        <activity
            android:name=".ui.SingleModuleActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>