<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cyxbsmobile_single.module_todo">

    <application
        android:allowBackup="true"
        android:name="com.mredrock.cyxbs.common.BaseApp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
    </application>

</manifest>