<?xml version="1.0" encoding="utf-8"?><!--suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mredrock.cyxbs">

    <!--移除友盟的自启动功能 https://developer.umeng.com/docs/67966/detail/206987-->
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED"
        tools:node="remove" />

    <!--    bugly所需权限-->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".CySophixApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/app_network_security"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/app_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:extractNativeLibs="true"
        tools:replace="networkSecurityConfig"
        tools:targetApi="n">

        <activity
            android:name="com.mredrock.cyxbs.ui.ExceptionActivity"
            android:process=":exception_handler"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />


        <!--Bugly-->
        <!--以下注释 Bugly 是想提醒你：Bugly 官网说1.3.1及以上版本，可以不用进行以下配置-->
<!--        <activity-->
<!--            android:name="com.tencent.bugly.beta.ui.BetaActivity"-->
<!--            android:configChanges="keyboardHidden|orientation|screenSize|locale"-->
<!--            android:exported="true"-->
<!--            android:theme="@android:style/Theme.Translucent" />-->
<!--        <provider-->
<!--            android:name="androidx.core.content.FileProvider"-->
<!--            android:authorities="com.mredrock.cyxbs.fileProvider"-->
<!--            android:exported="false"-->
<!--            android:grantUriPermissions="true"-->
<!--            tools:replace="android:authorities">-->
<!--            <meta-data-->
<!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--                android:resource="@xml/provider_paths" />-->
<!--        </provider>-->
        <!--Bugly End-->


        <!--友盟-->
        <!--移除友盟自带的关联启动-->
        <service
            android:name="com.taobao.accs.ChannelService"
            android:exported="false"
            tools:replace="android:exported" />
        <service
            android:name="com.taobao.accs.data.MsgDistributeService"
            android:exported="false"
            tools:replace="android:exported" />

        <receiver
            android:name="com.taobao.accs.EventReceiver"
            android:exported="false"
            tools:replace="android:exported" />
        <receiver
            android:name="com.taobao.accs.ServiceReceiver"
            android:exported="false"
            tools:replace="android:exported" />

        <service
            android:name="org.android.agoo.accs.AgooService"
            android:exported="false"
            tools:replace="android:exported" />
        <service
            android:name="com.umeng.message.UmengIntentService"
            android:exported="false"
            tools:replace="android:exported" />
        <service
            android:name="com.umeng.message.XiaomiIntentService"
            android:exported="false"
            tools:replace="android:exported" />

        <receiver
            android:name="com.taobao.agoo.AgooCommondReceiver"
            android:exported="false"
            tools:replace="android:exported" />
        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:exported="false"
            tools:replace="android:exported" />
        <!--友盟 End-->

    </application>

</manifest>