<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity android:name="com.cyxbs.pages.mine.page.feedback.center.ui.FeedbackCenterActivity" />
        <activity android:name="com.cyxbs.pages.mine.page.feedback.center.ui.FeedbackDetailActivity" />
        <activity android:name="com.cyxbs.pages.mine.page.feedback.history.detail.HistoryDetailActivity" />
        <activity android:name="com.cyxbs.pages.mine.page.feedback.edit.ui.FeedbackEditActivity" />
        <activity android:name="com.cyxbs.pages.mine.page.feedback.history.list.HistoryListActivity" />
        <activity android:name="com.cyxbs.pages.mine.page.setting.SettingActivity" />
        <activity android:name="com.cyxbs.pages.mine.page.security.activity.FindPasswordActivity" />
        <activity android:name="com.cyxbs.pages.mine.page.security.activity.ForgetPasswordActivity" />
        <activity android:name="com.cyxbs.pages.mine.page.security.activity.BindEmailActivity" />
        <activity android:name="com.cyxbs.pages.mine.page.security.activity.SetPasswordProtectActivity" />
        <activity android:name="com.cyxbs.pages.mine.page.security.activity.ChangePasswordActivity" />
        <activity android:name="com.cyxbs.pages.mine.page.security.activity.FindPasswordByIdsActivity" />
        <activity
            android:name="com.cyxbs.pages.mine.page.security.activity.SecurityActivity"
            android:theme="@style/ConfigAppTheme.NoActionBar" />
        <activity
            android:name="com.cyxbs.pages.mine.edit.AvatarPickerActivity"
            android:theme="@style/mine_AvatarPickerTheme" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
