<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="ufield.app.DebugApp"
        android:allowBackup="true"
        android:label="module_field"
        android:supportsRtl="true"
        android:theme="@style/ConfigAppTheme">
        <activity
            android:name=".ui.activity.CreateActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.CheckActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.UFieldActivity"
            android:exported="false" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RankActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.CampaignActivity"
            android:exported="false" />
        <activity
            android:name="ufield.ui.DebugActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mredrock.cyxbs.ufield.ui.activity.DetailActivity" />
    </application>

</manifest>