<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="ufield.app.DebugApp"
        android:allowBackup="true"
        android:label="module_field"
        android:supportsRtl="true"
        android:theme="@style/ConfigAppTheme">
        <activity
            android:name=".lxh.ui.activity.RankActivity"
            android:exported="false" />
        <activity
            android:name=".lxh.ui.activity.CampaignActivity"
            android:exported="false" />
        <activity
            android:name="ufield.ui.DebugActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".lyt.ui.UFieldActivity" />
    </application>

</manifest>