<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".ui.activity.TodoDetailActivity" />
        <activity
            android:name=".ui.activity.WidgetAddTodoActivity"
            android:launchMode="singleInstance"
            android:theme="@style/todo_TranslucentStyle" />
        <activity android:name=".ui.activity.TodoInnerMainActivity" /> <!-- todoList相关小组件 -->

        <receiver
            android:name=".ui.widget.TodoWidget"
            android:label="邮子清单"
            android:exported="true">
            <intent-filter>
                <!-- 固定模式，必须指定APPWIDGET_UPDATE广播 -->
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="cyxbs.widget.todo.refresh" />
                <action android:name="cyxbs.widget.todo.add" />
            </intent-filter>

            <!-- 指定上面创建的AppWidgetProviderInfo -->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/todo_widget_provider"/>
        </receiver>

        <service android:name=".service.TodoWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" >

        </service>
    </application>

</manifest>