<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cyxbsmobile_single.module_todo">

    <application>
        <activity
            android:name=".ui.activity.WidgetAddTodoActivity"
            android:theme="@style/todo_TranslucentStyle"
            android:launchMode="singleInstance"/>
        <activity android:name=".ui.activity.TodoInnerMainActivity" />
    </application>

</manifest>